/* Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
h1,h5{
    font-weight: 600;
}
input[type="text"]{
    background-color: #DCDCDC ;
    border: none;
    margin: 10px;
    padding: 5px;
    width: 150px;
}
input[type="text"]:focus{
    outline: none;
}
.calc-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    padding: 0;
}
.calc-bg{
    background-color: #e7e6e65e;
}
.error-text{
    color: transparent;
}
